@import url('https://fonts.googleapis.com/css?family=Linden+Hill|Port+Lligat+Sans|Ramabhadra');

body {

	background-image: url("../image/sunset3.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1500px 1500px;


}

h1  {

	font-size:65px;
	color:black;
	font-family: 'Linden Hill', serif;

}

h2 {
	font-size: 45px;
	position: relative;
	left: 110px;
	top:580px;
	color:black;
	font-family: "Port Lligat Sans", Serif;
}
h3 {

	font-size: 35px;
	position: relative;
	left: 110px;
	top:550px;
	color:black;
	font-family: "Port Lligat Sans", Sans-Serif;
}
h4 {

	font-size: 40px;
	position: relative;
	left:1px;
	top:-180px;
	color:black;
	font-family: "Port Lligat Sans", monospace;
}