body {

	background-image: url("../image/sunset3.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1500px 1500px;


}

h1  {

	font-size:65px;
	color:black;
	font-family: "Gadget", monospace;

}

h2 {

	font-size: 45px;
	position: relative;
	left: 110px;
	top:580px;
	color:black;
	font-family: "Gadget", monospace;
}

h3 {

	font-size: 35px;
	position: relative;
	left: 110px;
	top:550px;
	color:black;
	font-family: "Gadget", monospace;
}


h4 {

	font-size: 40px;
	position: relative;
	left:1px;
	top:-180px;
	color:black;
	font-family: "Gadget", monospace;


}

/Users/sammatluck/Desktop/Online course - Coding/samatluck.github.io/Unit_1/css/style.css