@import url('https://fonts.googleapis.com/css?family=Linden+Hill|Port+Lligat+Sans|Ramabhadra');

body {

	background-image: url("../image/sunset3.jpg"); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1500px 1800px;

}

header{
	background-color: #FFED74;
	border:1px black solid;
	padding: 5px;

}

li {
	display: inline;
	padding: 100px;
}

ul {
	background-color: #E8C66A;
	border: 1px black solid;
	padding:5px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 1x;

}

footer{
	background-color: #E89C6C;
	border:1px;
	padding:1px;
}


h1  {

	font-size:65px;
	color:black;
	font-family: 'Linden Hill', serif;


}

h2 {
	font-size: 45px;
	position: relative;
	left: 110px;
	top:580px;
	color:black;
	font-family: "Port Lligat Sans", Serif;
}
h3 {

	font-size: 35px;
	position: relative;
	color:black;
	font-family: "Port Lligat Sans", Sans-Serif;
}
h4 {

	font-size: 40px;
	position: relative;
	color:black;
	font-family: "Port Lligat Sans", monospace;
}
#explanations {
	background-color: magenta;
	border: 1px black solid;
	padding: 20px;
	float:left;
}

#left {
	background-color: #FFB7CF;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%
}

#center {
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	display: inline-block;
	width: 30%
}
#right {
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float:right;
	width: 30.5%
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content:" ";
	clear: both;
	height: 0;
}

#DroneSafety {
	font-size:20px;
	color:black;
	font-family: 'Linden Hill', serif;
	border-bottom: 4px solid black;
	text-transform: uppercase;
}

#FAA {
	font-size:20px;
	color:black;
	font-family: 'Linden Hill', serif;
	border-bottom: 4px solid black;
	text-transform: uppercase;
}

#Experience {
	font-size:20px;
	color:black;
	font-family: 'Linden Hill', serif;
	border-bottom: 4px solid black;
	text-transform: uppercase;
}


